body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}

button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: "Montserrat";
  color: #ffffff;
  background-color: transparent;
  font-size: 2.5em;
  text-transform: uppercase;
  width: auto;
  border: 3px solid #00f7ff;
  cursor: pointer;
}
